In [56]:
import pandas as pd
import numpy as np

In [49]:
df_1991 = pd.read_csv("Language_1991.csv")
df_1996 = pd.read_csv("Language_1996.csv")
df_2001 = pd.read_csv("Language_2001.csv")
df_2006 = pd.read_csv("Language_2006.csv")
df_2011 = pd.read_csv("Language_2011.csv")
df_2016 = pd.read_csv("Language_2016.csv")

In [58]:
df_1991 = pd.read_csv("1991_noEng.csv")
df_1996 = pd.read_csv("1996_noEng.csv")
df_2001 = pd.read_csv("2001_noEng.csv")
df_2006 = pd.read_csv("2006_noEng.csv")
df_2011 = pd.read_csv("2011_noEng.csv")
df_2016 = pd.read_csv("2016_noEng.csv")

In [59]:
df_2016 = df_2016[df_2016.Count != 'x']
df_2016['Count'] = df_2016['Count'].astype(int)

In [60]:
def create_metrics(df):
    df = df[df.Count != 0]
    mean_df = df.groupby('FSA', as_index=False)['Count'].mean()
    mean_df.columns = ['FSA','Mean']
    
    std= df.groupby(['FSA','Year'], as_index=False).agg(np.std, ddof=0)
    std_df = std[['FSA','Count','Year']]
    std_df.columns = ['FSA','Std','Year']
    
    merged = pd.merge(mean_df, std_df, on='FSA')
    merged['dist'] = merged['Std']/merged['Mean']
    return merged

In [61]:
df_1991_metrics = create_metrics(df_1991)
df_1996_metrics = create_metrics(df_1996)
df_2001_metrics = create_metrics(df_2001)
df_2006_metrics = create_metrics(df_2006)
df_2011_metrics = create_metrics(df_2011)
df_2016_metrics = create_metrics(df_2016)

In [62]:
frames = [df_1991_metrics, df_1996_metrics,df_2001_metrics,df_2006_metrics,df_2011_metrics,df_2016_metrics]
result = pd.concat(frames)

In [63]:
result.tail(5)

    FSA        Mean          Std  Year      dist
90  M9N  157.052632   397.618896  2016  2.531756
91  M9P  153.877551   447.071840  2016  2.905374
92  M9R  253.379630   645.374507  2016  2.547065
93  M9V  560.964912  1643.601479  2016  2.929954
94  M9W  344.951923  1005.296190  2016  2.914308

In [64]:
result.to_csv('dist_languages_noMain.csv')